html{
    height: 100%;
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --blue: hsl(228, 45%, 44%);
    --white: rgb(255, 255, 255);
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: cover;
    background-color: var(--Violet);
    font-family: 'Poppins', 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
}


/*classes*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--white);
    font-weight: 700;
}

.attribution a { 
    color:  var(--blue); 
}

.logo {
    padding:  20px 0 0 50px;
    margin-top: 20px;
}

  

article {
   
    display: grid ;
    grid-template-columns:2, 1fr ;
    grid-template-rows:3, 1fr ;
}

article div {
    padding: 70px 0 0 50px;
    margin-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.div2 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding: 150px 0 0 60px ;
    margin: 0;
}

h1{
    color: var(--white);
    line-height: 3rem;
    font-size: 25px;
    font-weight: 400;
    
}

p {
    color: var(--white);
   
    font-weight: 400;
    
}

.icon {
   
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

ion-icon {
   
    font-size: 16px;
    line-height: 40px;
    padding: 8px;
    text-align: center;
    border: 1px solid var(--white);
    border-radius: 100%;
    margin: 0 5px;
    color: var(--white);
  
 
}

button {
    border-radius: 50px;
    border: 0;
    width: 160px;
    height: 50px;
    color: var(--Violet);
    font-size: 1.2rem;
    

}

button:hover {
    cursor:pointer;
}

@media (max-width: 700px) {
    body{
        background-image: url(../huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: center/contain;
        background-color: var(--Violet);
    }

    .logo {
        background-size: 40% auto;
    }

    article {
        display: block;
        text-align: center;
        margin-bottom: 50px;
        flex-direction: column;
    }

    article.div1 {
        width: 20%;
        height: 40%;
    }
     
    .div2 {
        margin-top: 50px;
        padding: 0;
        text-align: center;
    }

    h1 {
        align-self: center;
    }

    p{
        align-self: center;
    }

    button {
        align-self: center;
    }


    .icon {
        justify-content: center;
    }



}


